loot-alert-api/n8n-workflow-vinted.json
{
  "name": "LootAlert - Vinted Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 2 }] }
      },
      "id": "schedule-trigger",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://resellapp-production.up.railway.app/api/webhook/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Webhook-Secret", "value": "lootalert-n8n-2026" }]
        },
        "options": {}
      },
      "id": "fetch-alerts",
      "name": "Fetch Active Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": { "fieldToSplitOut": "alerts", "options": {} },
      "id": "split-alerts",
      "name": "Split per Alert",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const sources = item.json.sources || [];\n  if (Array.isArray(sources) && sources.includes('vinted')) {\n    out.push(item);\n  }\n}\nreturn out;"
      },
      "id": "filter-vinted",
      "name": "Only Vinted Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const alert = $json;\nconst params = new URLSearchParams();\nparams.set('search_text', alert.keywords);\nparams.set('per_page', '25');\nparams.set('order', 'newest_first');\nif (alert.max_price) params.set('price_to', String(alert.max_price));\nif (alert.min_price) params.set('price_from', String(alert.min_price));\nconst targetUrl = 'https://www.vinted.pl/api/v2/catalog/items?' + params.toString();\nconst scraperUrl = 'https://api.scraperapi.com/?api_key=4b75954442f7f8b52ff32e81817e1686&url=' + encodeURIComponent(targetUrl);\nreturn [{ json: { ...alert, _target_url: targetUrl, _scraper_url: scraperUrl } }];"
      },
      "id": "build-url",
      "name": "Build Vinted URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "={{ $json._scraper_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "scrape-vinted",
      "name": "Scrape Vinted via ScraperAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "const alertItem = $('Build Vinted URL').first();\nconst alert = alertItem ? alertItem.json : {};\nconst response = $input.first()?.json;\nconst items = (response && response.items) || [];\nconst listings = items.map(i => ({\n  id: String(i.id || ''),\n  title: i.title || '',\n  price: parseFloat((i.price && i.price.amount) || 0) || null,\n  url: (i.url || '').startsWith('http') ? i.url : 'https://www.vinted.pl' + (i.url || ''),\n  image_url: (i.photo && i.photo.url) || null,\n  source: 'vinted'\n})).filter(l => l.id);\nreturn [{ json: { alert_id: alert.id, listings } }];"
      },
      "id": "format-listings",
      "name": "Format for LootAlert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://resellapp-production.up.railway.app/api/webhook/n8n/listings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Webhook-Secret", "value": "lootalert-n8n-2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "push-listings",
      "name": "POST to LootAlert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300]
    }
  ],
  "connections": {
    "Every 2 min": {
      "main": [[{ "node": "Fetch Active Alerts", "type": "main", "index": 0 }]]
    },
    "Fetch Active Alerts": {
      "main": [[{ "node": "Split per Alert", "type": "main", "index": 0 }]]
    },
    "Split per Alert": {
      "main": [[{ "node": "Only Vinted Alerts", "type": "main", "index": 0 }]]
    },
    "Only Vinted Alerts": {
      "main": [[{ "node": "Build Vinted URL", "type": "main", "index": 0 }]]
    },
    "Build Vinted URL": {
      "main": [[{ "node": "Scrape Vinted via ScraperAPI", "type": "main", "index": 0 }]]
    },
    "Scrape Vinted via ScraperAPI": {
      "main": [[{ "node": "Format for LootAlert", "type": "main", "index": 0 }]]
    },
    "Format for LootAlert": {
      "main": [[{ "node": "POST to LootAlert", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
